<div class="app-main-login">
    <div class="side-image-login">
        <img src="backgrounds/background-login.jpg" alt="logo">
    </div>
    <div class="side-login">
        <div class="box-login">
            @if(messageError !== "") {
                <div class="box-error mb-16">
                    <img src="icons/remove.png" alt="remove">
                    <h1>{{ messageError }}</h1>
                </div>
            }

            <h1 class="title-box-login mb-16">Refrigera+</h1>
            <form [formGroup]="loginForm" class="form-login" (ngSubmit)="onLogin()">
                <div class="form-group mb-16">
                    <label class="form-label">Email</label>
                    <input nz-input formControlName="email" type="email" class="login-input" />
                    @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
                        <p class="error-validation">Email obrigatório</p>
                    }
                    @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
                        <p class="error-validation">Email inválido</p>
                    }
                </div>

                <div class="form-group mb-16">
                    <label class="form-label">Senha</label>
                    <input nz-input formControlName="senha" type="password" class="login-input" />
                    @if (loginForm.get('senha')?.hasError('required') && loginForm.get('senha')?.touched) {
                        <p class="error-validation">Senha obrigatória</p>
                    }
                </div>


                <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading">Acessar</button>
            </form>
        </div>
    </div>
</div>